.header{
    grid-area: header;
    display: flex;
    padding: 1rem 2rem;
    background-color: #eee;
    border-bottom: 0.1rem solid #ccc;
    box-shadow: 0 0.2rem 0.4rem;
    font-size: 2rem;
    justify-content: space-between;
    gap: 1rem;
}

.header nav{
    display: flex;
    gap: 1rem;
}