
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}


body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body > div{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main{
  grid-area: main;
  padding: 2rem;
}

aside{
  padding: 2rem;
  background-color: aqua;
  grid-area: ads;
}

.counter{
  display: flex;
  gap: 0.2rem;
}

.counter > button{
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  line-height: 1em;
}

.vegetableinner{
  font-size: 2rem;
  gap: 1rem;
}

.counter > span{
  padding: 0 1.5rem;
  font-size: 1.6rem;
  line-height: 3rem;
}


.basic-layout{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
   'header'
   'main'
   'footer'
  ;
}

.ads-layout{
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-areas: 
   'header header'
   'main ads'
   'footer footer'
  ;
}


.page-title{
  font-size: 3rem;
}

.page-desription{
  font-size: 1.4rem;
}

.error{
  padding: 2rem;
  border: 0.2rem dashed red;
  border-radius: ;
}